<header>
    <section id="nav">
            <h2><a href="/add">Add an item</a></h2>
            <h2><a href="/view">View the list of items</a></h2>
            <h2><a href="/searchName">Search items by name</a></h2>
            <h2><a href="/searchCategory">Filter items by category</a></h2>
            <h2><a href="/searchQuantity">Filter items by quantity</a></h2>
    </section>
</header>