<main>
  <h1>Add products to the inventory </h1>
  {{#if inform}}
  <span class="red-text"><h2 class="formTitle">{{inform}}</h2></span>
  {{/if}}
  <form action="/itemAdded" method="POST" id="addForm"enctype="multipart/form-data">
    <label for="name"><span class="red-text">*</span>Name</label>
    <input
      type="text"
      id="name"
      name="name"
      autofocus
      tabindex="1"
      required
      placeholder="Enter product name"
    />
    <label for="desc">Description</label>
    <textarea
      id="desc"
      name="desc"
      tabindex="2"
      placeholder="Enter product description"
    ></textarea>
    <label for="quantity"><span class="red-text">*</span>Quantity</label>
    <input
      type="number"
      id="quantity"
      name="quantity"
      tabindex="3"
      required
      step="1"
      min="1"
      placeholder="Enter product quantity"
    />
    <label for="date"><span class="red-text">*</span>Arrival Date</label>
    <input type="date" id="date" name="date" tabindex="4" required />
    <label for="category"><span class="red-text">*</span>Choose a category</label>
    <select name="category" id="category">
      {{#each cat}}
        <option value="{{value}}">{{value}}</option>
      {{/each}}
    </select>
    <a href="/addCat"class="aCat">Add a new category?</a>
    <label for="photo">Upload Image</label>
    <input id="photo" type="file" name="photo" tabindex="5" />
    <button type="submit" tabindex="6" id="addBtn">Add Product</button>
  </form>
</main>